a{
	text-decoration: none;
	color: black;
}
.menu{
	height: 60px;
	/*border: solid 1px black;*/
}
.menu p{
	margin-left: 50px;
	float: left;
}
.title{
	list-style: none;
	float: right;
	margin-right: 30px;
}
.title li{
	display: inline-block;
	margin-right: 20px;
	font-size: 14px;
}
li a:hover{
	color: red;
}
li:hover{
	height: 40px;
	border-bottom: solid 3px red;
}
a:visited 